body{
    margin: auto;
    width: 50%;
    text-align: center;
    font-family:sans-serif;
}

span{
    font-family:'Dancing Script', cursive;
    font-size: larger;
}

h1{
    font-family: 'Roboto Slab', serif;
}

.img {
    border: 1px solid #ddd; /* Gray border */
    border-radius: 4px;  /* Rounded border */
    padding: 5px; /* Some padding */
    width: 150px; /* Set a small width */
  }
 
  a:link {
    color:darkgoldenrod;
  }
  
  /* visited link */
  a:visited {
    color:burlywood;
  }
  
  /* mouse over link */
  a:hover {
    color:brown;
  }
  
  /* selected link */
  a:active {
    color:cornflowerblue;
  }
  a{
    text-decoration:none;
  }  

  .navbar{
    list-style-type: none;
  margin: 0;
  padding: 0;

  }
  
